<div class="row-flex-div">
    <div class="column-flex-div">
        <InputText class="form-item create-lesson-text-field" @bind-Value="lessonModel.Name" Placeholder="Название" />
        <ValidationMessage For="@(() => lessonModel.Name)" />
    </div>

    <div class="column-flex-div create-lesson-text-field">
        <CurrencyInput TValue="decimal?" class="form-item" @bind-Value="lessonModel.Cost" Locale="ru-RU" Placeholder="Цена" />
        <ValidationMessage For="@(() => lessonModel.Cost)" />
    </div>

    <div class="column-flex-div create-lesson-text-field">
        <InputSelect TValue="int?" class="form-item" @bind-Value="lessonModel.LanguageID">
            <option class="placeholder no-display" value="">Язык программирования</option>
            @foreach (LanguageOutputModel language in _lessonManager.GetAllLanguages())
            {
                <option style="color: #eaeaea;" value=@language.ID>@language.Name</option>
            }
        </InputSelect>
        <ValidationMessage For="@(() => lessonModel.LanguageID)" />
    </div>

</div>
<InputTextArea style="padding: 1rem 1rem;min-width: 76.25rem;max-width: 76.25rem;min-height: 20rem;max-height: 20rem;" class="form-item" @bind-Value="lessonModel.Description" Placeholder="Описание" />
<ValidationMessage For="@(() => lessonModel.Description)" />

@code {
    [Parameter]
    public LessonInputModel lessonModel { get; set; }
    private LessonManager _lessonManager = new();
}